<p>
  person works!
</p>

<button (click)="updateMessage()">click me</button>

<div *ngIf="showDiv">
  Demo
</div>

<div>
  <label>Person Name: 
    <input placeholder="new person name"/>
  </label>
</div>

<ng-container *ngIf="showDiv; else elseTemplate">
  Show Div is true!
</ng-container>

<ng-template #elseTemplate>
  Show Div is false
</ng-template>

<h2>Persons</h2>
<ul>
  <li *ngFor="let person of persons">
    
  </li>
</ul>
